html, body {
  height: 100%;
}
/*correccion para el menu fijo*/
header.header.nav-up {top: -45px;}

.main-content{margin-top:45px;}

header.header{
	position: fixed;
	top:0;
	transition: top 0.2s ease-in-out;
	width: 100%;
	z-index: 2;
}
/* BEGIN -- STICKY FOOTER */
.site__wrap { min-height: 100%;  margin-bottom: -50px; }
.site__wrap:after { content: ""; display: block; }
.site__footer, .site__wrap:after { min-height: 50px; }
.site__footer{	padding:13px 0;	background: #eee;line-height: 1.1em;}
/* END -- STICKY FOOTER */


/**/
.alert__row{
	.alert-box{margin-bottom:-45px;}
} 
.text--small{ font-size:0.8em !important; }

.facebook__button--small{ height: 40px; }

.line__separator{ border-top: solid 2px #aaa; margin:10px 0;	padding:10px 0; }
.line--small{ width: 60px;}

.object--centered{margin:0 auto;display: block;}
.block--centered{display: block; text-align: center;}

.loginbox{ background:#eee; padding:20px; margin: 45px 0 20px 0;}
.list--nomargin{margin:0;}
.list--none{list-style: none;}
.list--inline{ list-style: none;
	li{ float:left; padding:0 10px; }
}

.photo--thumbnail{ height:40px;margin:2px;}
.top-bar .toggle-topbar{margin-top: 5px;}